
<!-- https://developer.chrome.com/extensions/declare_permissions -->
<html>
<head>
    <title>Home</title>    
</head>
<body>
        <div class="card card--medium center-text">

            <!-- NOT IN ADD MODE -->
            <div ng-if="!addButtonClicked">

                <!-- NO DATA YET -->
                <div ng-if="memList.length <= 0">
                    <h2 class="card__title">AwesomeO!</h2>
                    <p class="card__text">You're not gonna remember this awe-some-thing that just happened today. Add it here for easy reference when you’re feeling a little less than awesome!</p>
                </div>

                <!-- SHOW RANDOM MEM -->
                <!-- http://stackoverflow.com/questions/23866734/display-one-item-from-array-in-angularjs-without-using-ng-repeat -->
                <div ng-if="memList.length > 0">
                    <div ng-init="getRandomMemory()">
                        <h2 class="card__title">{{getRandomMemTitle()}}</h2>
                        <p class="card__text">{{randomMem.content}}</p>
                        <p class="sub-text">{{randomMem.createdAt}}</p>
                    </div>                    
                </div>

                <!-- SHOW OPTIONS -->
                <div id='toolbar' class="card__action-bar">
                    <button class="card__button bold-text" ng-click="setAddButtonToTrue()">ADD NEW</button>
                    <a ng-if="memList.length > 0" class="card__button" href="#/settings">HISTORY</a>
                </div>
            </div>

            <!-- IN ADD MODE -->
            <div ng-if="addButtonClicked">
                <div class='row form-style-8 col-md-12'>
                    <form id='todo-form'>
                        <div class="form-group">
                            <textarea id='new-todo' ng-model='$parent.newContent' 
                                    placeholder={{getRandomAddPrompt()}} ng-keyup="autoExpand($event)"></textarea>
                        </div>
                    </form>
                </div>
                <div class="card__action-bar">
                    <button class="card__button bold-text" ng-click="add(); closeWin()">SAVE</button>
                    <button class="card__button" ng-click="closeWin()">CANCEL</button>
                    <!--<button class="card__button" ng-click="setAddButtonToFalse()">CANCEL</button>-->
                </div>
            </div>

        </div>
</body>
</html>

